<h1>
<div class="center">Homepage</div>
</h1>
<br>
<div><p>The bio of this project will go here</p></div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Dashboard</h5>
    <p class="card-text">
      This card will take you to your Dashboard!
    </p>
    <a class="btn btn-primary" type="button" routerLink="/dashboard">View</a>
  </div>
</div>
<hr>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Resources</h5>
    <p class="card-text">
      This card will take you to the resources!
    </p>
    <a class="btn btn-primary" type="button" routerLink="/resources">View</a>
  </div>
</div>

