<h1 style="text-align:center; margin-top: 50px; " >
<div>Homepage</div>
</h1>
<br>
<div><p style="text-align:center">The bio of this project will go here</p></div>
<div class="card" style="width: 40rem; margin: 0 auto; height:2.5in">
  <div class="card-body" style="text-align: center; ; margin-top: 5%">
    <h5 class="card-title">Dashboard</h5>
    <p class="card-text">
      This card will take you to your Dashboard!
    </p>
    <a class="btn btn-primary" type="button" routerLink="/dashboard">View</a>
  </div>
</div>
<hr width="50%">
<div class="card" style="width: 40rem; margin: 0 auto; height: 2.5in;">
  <div class="card-body" style="text-align: center; margin-top: 5%;">
    <h5 class="card-title">Resources</h5>
    <p class="card-text">
      This card will take you to the resources!
    </p>
    <a class="btn btn-primary" type="button" routerLink="/resources">View</a>
  </div>
</div>

