
<br>
<form (ngSubmit)="onAddSource(InputRef)" #InputRef="ngForm">
  <div class="container">
  <h2>Resources</h2>
  </div>
<div class="container">
<div class="form-group">
  <label for="nameOfSource">Name of Resource</label>
  <input type="text" class="form-control" name="answer" id="answer" [ngModel]="this.source.name">
</div>
<div class="form-group">
  <label for="summary">Summary</label>
  <input type="text" class="form-control" id="summary" name="summary" [ngModel]="this.source.summary">
</div>
<div class="form-group">
  <label for="url">Link</label>
  <input
    type="url"
    class="form-control"
    id="url"
    name="url"
    pattern="https://.*"
    [ngModel]="this.source.link">
</div>
<div class="container">
  <button type="submit" class="btn btn-primary">submit</button> |
  <a class="btn btn-dark" (click)="onStoreSources()"> Save </a> |
  <a class="btn btn-light" (click)="onFetchData()"> Fetch </a>
</div>
<div class="container">
  <h6>Please submit resource</h6>
</div>
</div>

</form>

<hr>

<app-resource-display></app-resource-display>
