<div class="container">
  <h1 style="text-align:center; margin-top: 30px;">Dashboard</h1>
  <hr />
  <h3 style="text-align: center; margin-bottom: 20px;">Welcome to your dashboard!</h3>
  <div class="container" style="text-align: center">
    <a class="btn btn-dark" (click)="onStoreDashSources()"> Save </a> |
    <a class="btn btn-light" (click)="onFetchDashData()"> Fetch </a>
  </div>
  <div *ngFor="let favorites of favResources; let dashIndex = index">
    <div class="card">
      <div class="card-header">Source {{ dashIndex + 1 }}</div>
      <div class="card-body">
        <h5 class="card-title">{{ favorites.name }}</h5>
        <p class="card-text">{{ favorites.summary }}</p>
        <a class="card-text" href="{{ favorites.link }}" target="_blank">{{
          favorites.link
        }}</a>
        <div>
        <a class="btn btn-primary" routerLink="edit">Edit </a> |
        <a class="btn btn-danger" (click)="onDelete(dashIndex)"> Delete </a>
        </div>
      </div>
    </div>
  </div>
</div>
